.app {
  text-align: center;
}

.app__main {
  min-height: 85vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.app__wordcloud-container {
  border: grey solid 1px;
  max-width: 45vw;
}

.app__metacloud-container {
  border: grey solid 1px;
  max-width: 45vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
