.header__logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app__logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

/* TODO: look into vmin unit */
.app__header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header__title {
  color: #61dafb;
  text-decoration: none;
  font-size: 1rem;
}
