.metacloud {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1rem;
}

.metacloud__row {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 1rem;
}
